@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@500&display=swap");

.p-card {
  position: relative;
  width: 270px;
  margin: 20px 0;

}

.product-img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  border-radius: 10px;
  
}

.product-price {
  background: #ff4f0416;
  padding: 3px;
  color: #ff4f04;
  border-radius: 17px;
  text-align: center;
  letter-spacing: -0.31px;
}
.product-dd{
  display: flex;
  flex-direction: row;
  align-items: center;
   
}
.product-category {
  background: #ff4f048a;
  padding: 3px;
  color: white;
  border-radius: 17px;
  text-align: center;
  letter-spacing: -0.31px;
}
.product-name {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 1rem;
  margin-right: 10px;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;
}

.product-img:hover ~ .product-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.product-btn {
  display: none;
  width: 100%;
  height: 270px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 10px;
  /* transition: all 0.5s ease-in-out; */
}

.product-btn button {
  width: 125px;
  cursor: pointer;

  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem;
}

.product-btn button:nth-child(1) {
  color: #ff4f04;
  background: #fff;
  cursor: pointer;

}

.product-btn button:nth-child(2) {
  color: #fff;
  background: #ff4f04;
  cursor: pointer;

}
