.SellerProducts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    height: 20rem;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
