
.container__notFound{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
.mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
 .container__notFound .main-text{
  font-size: 30px;
  font-weight: bold;
  color: rgb(247, 119, 0);
  
}

a{
  text-decoration: none;
color: rgb(247, 119, 0);
}
a:hover{
  color: rgb(247, 0, 0);
}
 .container__notFound .text{
  font-size: 25px;
  font-weight: bold;
  color: rgb(247, 119, 0);
  text-decoration: none;
}


.container__notFound img{
  width: 100%;


}

