.content__order {
    width: 50%;
    margin: auto;
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.027), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 10px;


}

.img__product {
    flex: 30%;
    display: flex;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgb(240, 240, 240); */
    width: 100px;

}
.img__product img {
    width: 200px;
}

.tools {
    flex: 70%;
    display: flex;
    justify-content: space-evenly;
} 


.minus__sign {
    width: 30px;
    height: 30px;
    background-color: #DFE8F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4F04;
    cursor: pointer;


}

.plus__sign {
    width: 30px;
    height: 30px;
    background-color: #DFE8F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4F04;
    cursor: pointer;



}


.remove__icon {
    color: #FF4F04;
    cursor: pointer;
}

.order_summary {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove_all {
    color: rgb(128, 126, 126);
    cursor: pointer;
}

.hrr {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid lightgray;


}

.total_price__cont {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    color: #FF4F04;
    font-weight: 600;
}

.product__name__description {
    margin-right: 200px;
}


.product__description {
    font-size: 14px;
    color: rgb(128, 126, 126);

    
}

.tools2 {
    width: 30%;
    display: flex;  
    justify-content: center;
    padding: auto;
    align-items: center;

    
}
.remove_all{
    color: #FF4F04;
    cursor: pointer;
font-weight: 600;
margin-right: 10px;
}
.summary{
    color: #FF4F04;
    cursor: pointer;
font-weight: 600;
margin-left: 10px;
}
.remove_all:hover{
    color: gray;
}
.price__product{
    width:80px;
    text-align: center;
    align-items: center;


}
.btnnnn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;

}
.no__product {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    list-style: none;
}
