.down__header {
  width: 100%;
  height: 4rem;
  display: flex;
  margin-top: 0.5rem;
}
.select__wrapper {
  background-color: #f8f8f8;
  width: 13rem;
}
.select_categories {
  border: none;
  background-color: #f8f8f8;
  width: 10rem;
  height: 2.1rem;
}
.burger__menu {
  font-size: 0.9rem;
}
.select_categories:focus {
  outline: none;
}

.naviagtion__menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  width: 80%;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter ;
}

.naviagtion__menu li:hover {
    color: #ff4f04;
    text-decoration: underline;
    cursor: pointer;
}
.home__selected{
    color: #ff4f04;
    text-decoration: underline;
}
