@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.Header {
  max-width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  z-index: 999;
  position: fixed;
}
.headermargin{
  margin-top: 136px;
}
.upper__header {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

	  
}

.logo {
  width: 4rem;
  height: 4rem;
}
.main__search__bar__wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 0.5rem;
  border: 1px solid #dae0e6;
  border-radius: 3px;
  height: 2.5rem;
}
.main__search__bar {
  width: 93%;
  border: none;
  background-color: white;
  font-family: Poppins;
  padding-left: 1rem;
}
::placeholder {
  font-weight: lighter;
}
.search__icon {
  font-size: 1.2rem;
}
input:focus {
  outline: none;
}

.shopping__cart__wrapper {
  display: flex;
  position: relative;
}
.shopping__cart__icon {
  font-size: 1.5rem;
}
.shopping__cart__icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.cart__counter {
  background-color: red;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  position: absolute;
  top: -10px;
  right: -10px;
}

.login__btn {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ff4f04;
  font-size: 1.1rem;
}
/* 
.main__search__bar{
    color: brown;
} */
